*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
.withdrawlForm{
  background: #150b3e;
  color:#c7d2fe;
  border-radius: 8px;
  text-align: center; 
  width: 25em;
}
.withdrawlForm h1{ 
  margin-bottom: 1.5em;
  
}
.bankDetails{
  text-align: start; 
}
.bankDetails span{
  background-color: #c7d2fe;
  color: #150b3e;
  padding: 1em;
  margin-right: 12px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 50%;
}
.bankDetails h3{
  font-size: 20px;
}


.bankDetails p{
  margin-top: 20px;
  font-size: 10px;
  margin-left: 6em;  
}
.balanceStyle{
  color:  #585076;
  align-items: center;
  font-size: 20px;
}
.balanceStyle span{
  color: #d4d2db;
  font-size: 25px;
  font-weight: 600;
}
.balanceStyle h4{
  margin: 20px;
  color: #c4c4c4;
  text-align: start;
}
.balanceStyle h6{
  margin: 15px;
  text-align: start;
}
.btnStyling button{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #382f5a;
  border: 1px solid #c4c4c4;
  color: #c7d2fe;

}